In [1]:
# Importing the necessary libraries.
import pandas as pd
import numpy as np

In [2]:
# Reading a CSV file
df = pd.read_csv("retail-data.csv", delimiter=';')
df.head()

,Bedrijfstakken/branches (SBI 2008),Perioden,Omzet ongecorrigeerd/Indexcijfers/Waarde (2015=100),Omzet ongecorrigeerd/Indexcijfers/Volume (2015=100)
0,"4711, 472 Winkels in voedingsmiddelen",2005 januari,73.1,86.4
1,"4711, 472 Winkels in voedingsmiddelen",2005 februari,71.5,83.9
2,"4711, 472 Winkels in voedingsmiddelen",2005 maart,83.0,96.8
3,"4711, 472 Winkels in voedingsmiddelen",2005 april,79.8,94.1
4,"4711, 472 Winkels in voedingsmiddelen",2005 mei,78.5,92.1

In [3]:
# Renaming the column names
new_name = {'Bedrijfstakken/branches (SBI 2008)': 'Branch',
           'Perioden': 'Period',
           'Omzet ongecorrigeerd/Indexcijfers/Waarde (2015=100)': 'index_value',
           'Omzet ongecorrigeerd/Indexcijfers/Volume (2015=100)': 'index_volume'
            }

df.rename(columns = new_name, inplace = True)
#print(df)

In [4]:
# Replacing the values in the row
replace_values = {"": -1}

df = df.replace({"index_value": replace_values, "index_volume": replace_values})                                                                                             

df.head()

,Branch,Period,index_value,index_volume
0,"4711, 472 Winkels in voedingsmiddelen",2005 januari,73.1,86.4
1,"4711, 472 Winkels in voedingsmiddelen",2005 februari,71.5,83.9
2,"4711, 472 Winkels in voedingsmiddelen",2005 maart,83.0,96.8
3,"4711, 472 Winkels in voedingsmiddelen",2005 april,79.8,94.1
4,"4711, 472 Winkels in voedingsmiddelen",2005 mei,78.5,92.1

In [5]:
print(df.iat[0,0])
print(df.at[0,'Period'])

4711, 472 Winkels in voedingsmiddelen
2005 januari